<!-- Footer Section -->
<footer class="footer-section">
    <div class="footer-wave"></div>
    <div class="floating-particles" id="particles"></div>

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <!-- Company Info -->
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="footer-brand">
                                <!-- <i class="fas fa-code me-2"></i> -->
                                Meta Future Services <span style="font-size: 1rem;">Pvt. Ltd.</span>
                            </div>
                            <p class="footer-description">
                                Transforming businesses through innovative technology solutions. We deliver cutting-edge
                                IT services
                                that drive growth and digital transformation.
                            </p>
                            <div class="social-icons">
                                <a href="https://www.linkedin.com/in/meta-future-services-59b101370/" target="_blank"
                                    class="social-icon" title="LinkedIn">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <a href="https://www.instagram.com/metafutureservices_official/" target="_blank"
                                    class="social-icon" title="Instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#" class="social-icon" title="Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <!-- <a href="#" class="social-icon" title="Twitter">
                                    <i class="bi bi-twitter-x"></i>
                                </a> -->


                                <!-- <a href="#" class="social-icon" title="GitHub">
                    <i class="fab fa-github"></i>
                  </a> -->
                            </div>
                        </div>


                        <!-- Quick Links -->
                        <div class="col-lg-3 col-6 mt-5">
                            <h5 class="footer-section-title">Quick Links</h5>
                            <ul class="footer-links">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About Us</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#projects">Projects</a></li>
                                <li><a href="./components/career.html">Career</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>

                        <!-- Services -->
                        <div class="col-lg-3 col-6 mt-5">
                            <h5 class="footer-section-title">Services</h5>
                            <ul class="footer-links">
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Mobile Apps</a></li>
                                <li><a href="#">App Development</a></li>
                                <li><a href="#">Game Development</a></li>
                                <li><a href="#">IT Consulting</a></li>
                                <li><a href="#">Tech Support</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="row mt-2 pt-3">
                        <div class="col-12 contact-info pt-4 ps-4">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-6 col-12">
                                    <div class="contact-item">
                                        <i class="fas fa-phone"></i>
                                        <div>
                                            <strong>Phone:</strong><br>
                                            +91 8957466548 <br>
                                            +91 9554904444
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="contact-item">
                                        <i class="fas fa-envelope"></i>
                                        <div>
                                            <strong>Email:</strong><br>
                                            metafutureservices666@gmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="row">
                        <div class="col-12 h-25"></div>
                        <h5 class="footer-section-title">Address:</h5>
                        <p class="address-footer">Rishi Udyaan Faizabad Road, Canal Road, Lucknow 226028</p>
                    </div>
                    <div class="col-12 h-75">
                        <div class="map-info">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14233.672807361172!2d81.06064292372182!3d26.89021973925534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be10040a0f03f%3A0xc22ce71125b30a45!2sMera%20Future%20service%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1749801095260!5m2!1sen!2sin"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <hr style="background-color: rgb(213, 120, 198); height: 2px;"> -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content d-flex justify-content-between align-items-center">
                <div class="copyright">
                    <p>&copy; <span id="year"></span> MFS. All rights reserved. Built with
                        <i class="fas fa-heart" style="color: #ff6b6b;"></i> by MFS Team
                    </p>
                </div>
                <ul class="footer-bottom-links d-flex">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>